@import url('https://fonts.googleapis.com/css2?family=Miranda+Sans:ital,wght@0,400..700;1,400..700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

html, body{
    /* height: 100%; */
    margin: 0;
    width: 100%;
}

body{
    font-family: "Miranda Sans", sans-serif;
    background-color: var(--background-color);
    display: flex;
    flex-direction: column;
    /* min-height: 100vh; */
}

main{
    display: flex;
    flex-direction: column;
    position: relative;
    min-height: 100vh;
}

aside{
    position: fixed;
    left: 0;
    background-color: var(--main);
    height: 100vh;
    width: 200px;
    z-index: 1000;
    padding: 12px;
    margin: 0;
    display: none;
}

@media(min-width:768px){
        aside{
            display: none !important;
        }
    }

section{
    margin: 20px 80px;
    flex:1
}

@media(max-width:768px){
    section{
        margin: 12px 20px;
    }    
}


button{
    background-color: white;
    border: 0;
}

h1,h2,h3,h4,h5,h6,p{
    margin: 0;
}

a{
    text-decoration: none;
}
